// @import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Options
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-smooth-scroll: false;

// Spacing
$spacer: 1rem;

// Grid columns
$grid-columns: 15;
$grid-gutter-width: 10px;// 1.0rem;

// Typography
$font-family-base: "Arial", sans-serif;
$font-size-base: 0.8rem;

// Breadcrumbs
$breadcrumb-font-size: $font-size-base * 0.9;

// Cards
$card-spacer-y: $spacer * 0.5;
$card-spacer-x: $spacer * 0.5;

// Paragraphs
$paragraph-margin-bottom: 0rem;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";

// Helpers
@import "bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";

// 8. Add additional custom code here
fieldset, legend {
    all: revert;
}

p {
    font-size: $font-size-sm;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    vertical-align: middle;
}